

// Account Steps CSS
.progress-tracker {
    margin-top: 0px;
    counter-reset: my-sec-counter;

    .progress-marker {
        position: absolute;
        right: 50px;

        &:before {
            counter-increment: my-sec-counter;
            content: counter(my-sec-counter);
            color: #0095f7;
            background-color: white;
            border: 1px solid #0095f7;
        }

        &:after {
            height: 250%;
            z-index: 1;
            width: 2px;
            background-color: #efefef !important;
        }
    }

    .is-active {
        .progress-marker:before {
            color: white;
            background-color: #0095f7;
        }
    }

    .is-complete {
        .progress-marker:before {
            content: '\e92b';
            font-family: Feather !important;
            background-color: white;
            color: #78CA3C;
            border: 1px solid #78CA3C;
        }
    }
}

.new-account-form {
    min-height: 250px;
}

#topbar {
    padding: 8px 15px;
}

.navbar-brand-img, .navbar-brand > img {
    max-height: 2.8rem;
}

.form-control {
    font-size: 0.9375rem;
    line-height: 1.5;
    display: block;
    width: 100%;
    height: calc(2.40625rem + 2px);
    padding: 0.5rem 0.75rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #12263f;
    border: none;
    border-bottom: 1px solid #d2ddec;
    border-radius: 0px;
    background-color: #fff;
    background-clip: padding-box;
}

.hidden {
    display: none;
}
